.vertical-flex {
	display: flex;
	flex-direction: column;
}

#root {
	padding-top: 0px;
	width: 100%;
}

nav {
	width: 100%;
	min-height: 40px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 3rem;

	background: black;
	border: 2px solid white;
}

.book {
	border-radius: 8px;
	background: black;
	margin: 18px;
}
.book button {
	border-radius: 0px;
	width: 100%;
}

.small-text {
	font-size: 0.75rem;
}

.bad {
	color: orange;
}
.good {
	color: greenyellow;
}